<h1>Editing Benefit</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @benefit, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', benefits_path, class: "btn btn-default" %>

