<h1>Editing Implementation Status</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @implementation_status, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', implementation_statuses_path, class: "btn btn-default" %>

