<h1>Editing Point</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @point, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', points_path, class: "btn btn-default" %>

