
<p>This is the Stackpole Stratford CI Suggestion System.</p>

<p>
    <%#= link_to 'Sign up', new_user_registration_path, class: "btn", :style=>'color:#00000; background-color: #A0D6BE;' %> 
           
    <%#= link_to 'Sign in', new_user_session_path, class: "btn", :style=>'color:#00000; background-color: #A0D6BE' %>  </p>


<br>

<%= link_to 'Enter a new CI Suggestion', new_cilist_path, class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
<br>
<br>

<%= link_to 'See the CI suggestions you have submitted', cilists_path, class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
<br>
<br>
<br>
<%= link_to 'Points redeemed', points_path, class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
<br>
<br>
<%= link_to 'Points Balance', points_balances_path, class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
<br>
<br>





<hr>

<hr>
<br>
<br>
<br>

