<h1>Editing Points Balance</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @points_balance, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', points_balances_path, class: "btn btn-default" %>

